<!-- Bottom Nav -->
<footer>
    <nav class="navbar fixed-bottom navbar-light bg-light">
      <div class="container-fluid background-nav">
        <h6 class="display-6 navbar-text" >&copy; Copyright 2021. All Rights reserved.</h6>
      </div>
    </nav>
  </footer>